.container {
padding: 0 16px 48px;
max-width: 800px;
margin: 0 auto;
}


.introSection {
display: flex;
justify-content: center;
}


.intro {
max-width: 820px;
margin: 12px auto 12px;
text-align: left;
font-size: 16px;
line-height: 1.7;
color: #515151;
}


.intro p {
margin: 0 0 16px;
}


/* Slight adjustments for smaller screens */
@media (max-width: 768px) {
.intro {
padding: 0 8px;
font-size: 15px;
}
}